*{
  font: 400  var(--poppins)  ;
}

:root {
  --background: #16161a;
  --second: #72757e;
  --stroke: #010101;
  --green: #2cb67d;
  --headline: #fffffe;
  --paragraph: #94a1b2;
  --button: #7f5af0;
  --button-text: #fffffe;

  --poppins: "Poppins", sans-serif;
  --lato: "Lato", sans-serif;
}

#root {
  min-height: 100vh;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%); 
}
