.container-message {
  display: inline-flex;
  max-width: 90%;
  align-items: flex-start;
  margin-left: 1rem;
  padding: 1rem;
  gap: 0.7rem;
  flex-direction: column;
  background: #e0e2ff;
  margin: 0.5rem 1rem;
  border-radius: 0.5rem;

  font: 400 var(--poppins);

  footer {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    justify-content: space-between;
  }

  .content-message {
    width: 100%;
    word-break: break-all;
  }

  &.my {
    align-self: flex-end;
  }

  &.admin {
    background: #d0d2ee;
  }
}
